#popup-root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-overlay {
    position: fixed;
    inset: 0px;
    display: flex;
    z-index: 999;
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.7);
}

.modal {
    height: 200px;
    width: 400px;
    background-color: white;
    inset: 0px;
    display: flex;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
}

.closeBtn {
    width: 100%;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
}

.clsBtn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.options {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}